include LICENSE
include README.md

recursive-include llhttp *.c *.h LICENSE*
recursive-include libuv  *.c *.h LICENSE*

recursive-include fastwsgi *.c *.h

include setup_libuv.py

global-exclude *.pyc
global-exclude __pycache__/*
global-exclude *.o
global-exclude *.a
