---
name: Deploy

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      test_build:
        description: 'Test build'
        required: false
        default: 'false'
        type: choice
        options:
        - true
        - false
  push:
    tags:
      - v[0-9]+*

permissions: {}

env:
  FORCE_COLOR: 1

jobs:
  build-wheels:
    name: "${{ matrix.os }}: ${{ matrix.cibw_arch }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            cibw_arch: "auto"
          - os: windows-11-arm
            cibw_arch: "ARM64"
          - os: macos-latest
            cibw_arch: "x86_64 arm64"
          - os: ubuntu-latest
            cibw_arch: "x86_64 i686"
          - os: ubuntu-24.04-arm
            cibw_arch: aarch64
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:      
          fetch-depth: 0
          submodules: recursive

      - name: Acquire tags for the repo
        run: |
          git fetch --prune --depth=1

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2
        with:
          output-dir: dist
        env:
          CIBW_ARCHS: ${{ matrix.cibw_arch }}
          CIBW_ENABLE: cpython-prerelease pypy

      - name: Upload as build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: dist/*.whl

  build-sdist-and-upload:
    runs-on: ubuntu-latest
    needs: [ 'build-wheels' ]
    permissions:
      id-token: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:      
          fetch-depth: 0
          submodules: recursive

      - name: Acquire tags for the repo
        run: |
          git fetch --prune --depth=1
          # git fetch --prune --unshallow
          # git fetch --no-tags --prune --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U click
          python -m pip install -U build twine

      - name: Download wheels from build artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: wheels-*
          merge-multiple: true
          path: dist-wheels/

      - name: Build package
        run: |
          git tag
          python -m build --sdist
          twine check --strict dist/*
          twine check --strict dist-wheels/*

      - name: Publish wheels to PyPI
        if: github.event.action == 'published' && github.event.inputs.test_build != 'true'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist-wheels/

      - name: Publish sdist to PyPI
        if: github.event.action == 'published' && github.event.inputs.test_build != 'true'
        uses: pypa/gh-action-pypi-publish@release/v1
